
  div::-webkit-scrollbar {
    width: 14px ;
  }
  div::-webkit-scrollbar-thumb {
    background-clip: content-box ;
    border: 4px solid transparent ;
    border-radius: 7px ;
    box-shadow: inset 0 0 0 10px ;
  }
  div::-webkit-scrollbar-button {
    width: 0 !important;;
    height: 0 !important;;
    display: none !important;;
  }
  div::-webkit-scrollbar-corner {
    background-color: transparent ;
  }
  
  .container {
    bottom: 0;
    overflow: auto;
    color: #00000000;
    transition: color 0.3s ;
    &:hover {
      color: #666666FF ;
      };
     height:70vh;
  
  }
  