.messenger-main{
    width:69%;
    margin-left: auto;
    min-width:700px;
    max-height:85vh;
}
.messenger-header{
    height:8vh;
}

.messenger-chat-holder{
    position: relative;
    min-height:81vh;
    
}
