.cldi-add-fandom-to-user-form-container {

    .cldi-search-field {
        margin-top: 12px;
    }

    .cldi-select-fandom-heading-container {
        display: flex;
        justify-content: space-between;
    }

    .cldi-options-menu-icon {
        padding: 2px;
    }

}
