$spacing: 1rem;
.cldi-make-post-main{
    padding:1rem;
}
.post-text-box {
    margin-left: spacing;
    margin-right: spacing;
    width: 70%,
}

.post-button{
    margin-top: spacing;
    width: 150;
}
.text-holder{
    margin-top:20px;
}