
.cldi-make-post-main{
    padding: 1rem;
}
.post-text-box {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 70%,
}

.post-button{
    margin-top: 1rem;
    width: 150;
}
.text-holder{
    margin-top:20px;
}