@import '../core/styles/mixins';

.cldi-make-post-container.MuiContainer-root {

    width: 100%;
    padding: 0;

    @include medium {
        width: 60%;
        padding-top: 32px;
    }

    .cldi-make-post-main{
        padding: 1rem;
    }

    .post-text-box {
        width: 100%;
    }

    .post-button{
        margin-top: 1rem;
        width: 150;
    }

    .text-holder{
        margin-top:20px;
    }

}
