.message-composer-input{
    width:100%;
    min-width: 29%;
    margin-left:0 auto;
}

.message-composer-holder{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width:98%;
    padding-bottom: inherit;

}
