@import '../core/styles/mixins';

.registration-container.MuiContainer-root {

    padding: 0;
    margin: 0;

    .registration-progress {
        width: 100%
    }

    .registration-back-button {
        @include hide-xs-show-small;
    }

}
