
.cldi-make-fandom-main{
    padding:32px;
    margin-top:32px;
    width:80%;
}
.cldi-text-container{
    width:80%;
    margin: auto
}
.cldi-text-holder{
    margin-top:15px;
    width:100%;
    margin-bottom:18px;
}
.cldi-text-box-label{
    margin-top:15px !important;
    font-size:1.2rem !important
}
.cldi-text-box{
    width:300px
}