
.login-card{
    padding:1rem
}
.login-button{
    margin-top: 1rem;
    width: 150
}
.login-text-field{
    width:300
}
.login-progress-holder{
    margin-top: 15;
    margin-left: 15px;
}