
$screen-sm-min: 300px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
 @mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }

}
.messenger-chats-view{
    @include sm {
        width:100%
    }

    @include lg {
        width:30%
    }
   
}
.messenger-header{
    height:8vh;
    @include sm {
        display: none;
    }
    @include lg {
        display:block;
    }
    

}
.messenger-chat{
    @include sm {
        min-height:8vh; 
    }

    @include lg {
        min-height:70vh;
    }
   
    
}
