.messenger-header-main{
    width:100%;
    height: 100%;
}
.messenger-header-1{
    width:25%;
    height: 100%;

}
.messenger-header-divider{
   margin:15px;
   color:#FFFFFF
}
.messenger-header-2{
    width:75%;
    height: 100%;
    display: flex;
}
.messenger-header-1-text{
    color: #000000;

}

.messenger-header-2-text{
    margin-left:15px;
    margin-right:15px;
}
.messenger-header-name{
    color:#000000
}