@import '../styles/mixins';

.post-item{
    position: relative;
    margin: 0 auto;

    .post-time {
        @include hide-xs-show-small;
    }

    @include medium {
        width: 60%;
    }
}
